.manage-user-container {
    padding: 10px;

    .users-content {
        .btn-add-new {
            margin: 15px 0;
        }
    }

    .title {
        font-weight: 600;
        font-size: 20px;
    }
}


.modal-add-user {
    .img-preview {
        border: 1px dashed #ccc;
        border-radius: 5px;
        justify-content: center;
        display: flex;
        align-items: center;
        color: #ccc;
        height: 150px;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .label-upload {
        display: flex;
        align-items: center;
        gap: 5px;
        background: #eee;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: #dcdcdc;
        }
    }
}